<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{! to use partial > character followed by name of partial file and object to pass to partial}}
        {{> post-info post}}
    </li>
    {{/each}}
</ol>